global
    daemon

defaults
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client 5000
    timeout server 15000
    balance leastconn
    option forwardfor header X-Real-IP

{{ $services := groupByLabel $ "hostname" }}
frontend http-in
    bind *:80

    {{ range $host, $containers := $services }}
    {{ $name := replace $host "." "_" -1}}
    acl host_{{ $name }} hdr_dom(host) -i {{ $host }}
    use_backend {{ $name }} if host_{{ $name }}
    {{ end }}

{{ range $host, $containers := $services }}
{{ $name := replace $host "." "_" -1}}
backend {{ $name }}
    option http-server-close
    {{ range $index, $container := $containers }}
    {{ with $address := index $container.Networks 0 }}
    server server{{ $index }} {{ $address.IP }}:80 check inter 10000 maxconn 50
    {{ end }}
    {{ end }}
{{ end }}


backend failback