global

defaults
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client 5000
    timeout server 15000
    balance leastconn

{{ $services := groupByLabel $ "branch" }}
frontend http-in
    bind *:80

    {{ range $branch, $containers := $services }}
    acl branch_{{ $branch }} path_beg /{{ $branch }}
    use_backend {{ $branch }} if branch_{{ $branch }}
    {{ end }}

{{ range $branch, $containers := $services }}
backend {{ $branch }}
    {{ range $index, $container := $containers }}
    {{ with $address := index $container.Networks 0 }}
    reqrep ^([^\ :]*)\ /{{$branch}}/(.*)     \1\ /\2
    rspirep ^(Set-Cookie:.*)\ Path=(.*) \1\ Path=/{{$branch}}
    server server{{ $index }} {{ $address.IP }}:80 check inter 10000 maxconn 50
    {{ end }}
    {{ end }}
{{ end }}


backend failback
